*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}
header{
    
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #000000;
    -webkit-text-stroke: 2px #ff0a0a;
      
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: -10px;
    
    
}

.photo{
    width: 600px;
    height: 380px;
    flex: 0 0 calc(33.333% - 70px);
    margin: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 10px rgb(248, 0, 0);
}
.photo:hover {
    transform: scale(1.3);
    transition: transform .4s linear;
}





